*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
 box-sizing: border-box;
 text-decoration: 0;
 transition: 0.4s linear;

}    /* Detta kommer värka på all kod, border-box talar om för webbläsaren att ta hänsyn till eventuell kantlinje och utfyllnad i de värden du anger för ett elements bredd och höjd.
 Om du ställer in ett elements bredd till 100 pixlar, kommer de 100 pixlarna att inkludera alla ramar eller utfyllnad som du lagt till
 När text decration är 0 så kommer det inte finnas någon under tex  länkarna i navbaren
 Transation gör så att den går lika snabbt fram som bak  */ 

 :root{
     --huvud-färgen: #8f826f;
     --svart: #090807;
     --bakgrund: #39342c;
     --border: .1rem solid #d2cdc5;



 } /* Detta sätter backrundsfärgerna för hela html sidan av Start.html och mina egengjorda "commandon" */


html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

html ::-webkit-scrollbar{
    background: transparent;

} /* Detta är en scrollbar som är en extention */

html ::-webkit-scrollbar-thumb{
    background: var(--border);
    
}

body{
    background: var(--bakgrund);
}


.Header{
    display: flex;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    z-index: 1000;
    position: fixed;/*   kommer göra att den är relativ till viewport alltså kommer den stanna kvar även om man scrollar ner*/
    top: 0; left: 0; right: 0; /* Ändrar sig från sin absoluta postion*/

}

.logga{
    width: 15%;
}

.Navmeny{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Navmeny a{
    margin: 0.1rem;
    font-size: 1.6rem;
    color: white
    

}

.Navmeny a:hover{  /* Detta kommer att göra att när man lägger musen på menyn så blir den skuggad */
color: var(--huvud-färgen);   
border-bottom: .1rem solid var(--huvud-färgen);
 padding-bottom: .7rem;

}